<div class="container col-6">
  <h1 class="d-flex justify-content-between align-items-center mb-3">
    <h3><span class="shadow-lg badge badge-success d-flex justify-content-center">Reenviar instrucciones de confirmación</span></h3>
  </h1>
</div>

<div class="container col-6 py-4" id="identification-views">
  <ul class="shadow-lg list-group mb-3">
    <li class="list-group-item justify-content-center lh-condensed">

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mt-">
          <%= f.label :Correo_electrónico %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            class: 'form-control list-inline-item text-success' %>
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <%= f.submit "Reenviar instrucciones", class: 'w-50 btn btn-secondary'  %>
        </div>
      <% end %>

    </li>
    </ul>
    <span><%= render "devise/shared/links" %></span>
</div>
