<div class="container col-6">
  <h1 class="d-flex justify-content-between align-items-center mb-3">
    <h3><span class="shadow-lg badge badge-success d-flex justify-content-center">Registro de Nuevo Usuario</span></h3>
  </h1>
</div>

<div class="container col-6 py-4" id="identification-views">
  <ul class="shadow-lg list-group mb-3">
    <li class="list-group-item justify-content-center lh-condensed">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mt-3">
          <%= f.label :Correo_electrónico, class: 'font-weight-bold' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control list-inline-item text-success' %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :Nombre_completo %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control list-inline-item text-success' %>
        </div>
        
        <div class="form-group row">
          <div class="col-sm-6 col-sm-2">
            <%= f.label :Fecha_de_Nacimiento %><br />
            <%= f.date_field :birth_date, autofocus: true, autocomplete: "state", class: 'form-control list-inline-item text-success' %>
          </div>
          <div class="col-sm-6">
            <%= f.label :País %><br />
            <%= f.select :country, options_for_select(country_options), { prompt: 'Elegir país' }, class: 'form-control list-inline-item text-success' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6 col-sm-2">
            <%= f.label :Departamento %><br />
            <%= f.select :state, options_for_select(state_options), { prompt: 'Elegir departamento' }, class: 'form-control list-inline-item text-success' %>
          </div>
          <div class="col-sm-6">
            <%= f.label :Ciudad %><br />
            <%= f.select :city, options_for_select(city_options), { prompt: 'Elegir ciudad' }, class: 'form-control list-inline-item text-success' %>
          </div>
        </div>

        <div class="form-group mt-3">
          <%= f.label :Contraseña, class: 'font-weight-bold' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres como mínino)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control list-inline-item text-success' %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :Confirmar_Contraseña, class: 'font-weight-bold' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control list-inline-item text-success' %>
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <%= f.submit "Registrarse", class: 'w-50 btn btn-secondary' %>
        </div>
      <% end %>
      
    </li>
  </ul>
  <span><%= render "devise/shared/links" %></span>
</div>
