<div class="container col-12">
  <h2 class="d-flex justify-content-between align-items-center mb-3">
    <h2><span class="shadow-lg badge badge-secondary">Listado de Elecciones</span></h2>
  </h2>
  
  <div class="div-formpage table-responsive shadow-lg">
    <table class="table table-md table-bordered">
      <thead class="thead-dark">
        <th style="text-align:center" scope="col">Descripci贸n</th>
        <th style="text-align:center" scope="col">Segmentaci贸n</th>
        <th style="text-align:center" scope="col">Condici贸n</th>
        <th style="text-align:center" scope="col">Fecha Inicio / Fecha Fin</th>
        <th style="text-align:center" scope="col">Mas Informaci贸n</th>
        <th style="text-align:center" scope="col">Propuestas y Opciones</th>
        <th style="text-align:center" scope="col">Estado</th>
        <th style="text-align:center" scope="col">Resultados</th>
      </thead>
      <tbody>
        <% @elections.each do |election| %>
          <tr>
            <td><%= election.description %></td>
            <% if election.segmented_by == 'state' %>
              <td style="text-align:center"> Departamento </td>
            <% end%>
            <% if election.segmented_by == 'city' %>
              <td style="text-align:center"> Ciudad </td>
            <% end%>
            <% if election.segmented_by == 'age' %>
              <td style="text-align:center"> Edad </td>
            <% end%>
            <td style="text-align:center"><%= election.condition %></td>
            <td style="text-align:center"><small><%= "#{l(election.start_date, format: '%d/%m/%Y %H:%M')}" " -- " "#{l(election.finish_date, format: '%d/%m/%Y %H:%M')}" %></small></td>
            <td style="text-align:center">
              <%= link_to "Ver", "/elections/info/#{election.id}", class: "text-white btn btn-secondary btn-sm btn-block" %>
            </td>

            <% if election.activated || has_finish(election.id) %>
              <td class="text-dark" style="text-align:center">No permitido</td>
            <% else %>
              <td style="text-align:center">
                <%= link_to "Agregar", election_path(election), class: "text-white btn btn-success btn-sm btn-block" %>
              </td>
            <% end %>

            <% if election_status(election.id) == 4 %>
              <td class="text-secondary" style="text-align:center">Cerrada</td>
              <td style="text-align:center">
                <%= link_to "Ver Resultados", "/elections/results/#{election.id}", class: "text-white btn btn-success btn-sm btn-block" %>
              </td>
            <% elsif election_status(election.id) == 3 %>
              <% if has_started(election.id) %>
                <td class="text-secondary" style="text-align:center">Abierta</td>
              <% else %>
                <td class="text-success" style="text-align:center">Activada</td>
              <% end %>
              <td class="text-dark" style="text-align:center">No disponible</td>
            <% elsif election_status(election.id) == 2 %>
              <% if activate_status_2(election.id) %>
                <td style="text-align:center">
                  <%= link_to "Activar", "/elections/activate_election/#{election.id}", class: "text-white btn btn-danger btn-sm btn-block" %>
                </td>
                <td class="text-dark" style="text-align:center">No disponible</td>
              <% else %>
                <td class="text-info" style="text-align:center">Incompleta</td>  
                <td class="text-dark" style="text-align:center">No disponible</td>
              <% end %>
            <% else %>
              <td class="text-info" style="text-align:center">Incompleta</td>  
              <td class="text-dark" style="text-align:center">No disponible</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
