<div class="container col-6">
  <h1 class="d-flex justify-content-between align-items-center mb-3">
    <h4><span class="shadow-lg badge badge-secondary">Datos de la Elección</span></h4>
  </h1>
  <hr class="mb-1">
  <div class="form-group">
  <strong>Descripción: </strong>
  <%= @election.description %>
  </div>

  <div class="form-group">
    <strong>Fecha de comienzo:</strong>
    <%= "#{l(@election.start_date, format: '%d/%m/%Y %H:%M')}" %>
  </div>

  <div class="form-group">
    <strong>Fecha finalización:</strong>
    <%= "#{l(@election.finish_date, format: '%d/%m/%Y %H:%M')}" %>
  </div>

  <div class="form-group">
    <strong>Usuario:</strong>
    <%= @election.user.email %>
  </div>

  <div class="form-group">
    <strong>Segmentado por:</strong>
    <% if @election.segmented_by == 'department' %>
      <div class="d-inline"> Departamento </div>
    <% end%>
    <% if @election.segmented_by == 'city' %>
      <div class="d-inline"> Ciudad </div>
    <% end%>
    <% if @election.segmented_by == 'age' %>
      <div class="d-inline"> Edad </div>
    <% end%>
  </div>

  <div class="form-group">
  <strong>Condición: </strong>
  <%= @election.condition %>
</div>
<hr class="mb-3">

<% if @election.proposals.length != 0 %>
  <h1 class="d-flex justify-content-between align-items-center mb-3">
      <h4><span class="shadow-lg badge badge-secondary">Propuestas de la Elección</span></h4>
  </h1>
  <hr class="mb-2">
  <div class="div-formpage table-responsive shadow-md">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <th style="text-align:center" scope="col">Nombre</th>
        <th style="text-align:center" scope="col">Descripción</th>
        <th style="text-align:center" scope="col">Opciones</th>
      </thead>
      <tbody>
        <%= render @election.proposals %>
      </tbody>
    </table>
  </div>
<% end %>
<% if @election.proposals.length == 0 %>
  <h1 class="d-flex justify-content-between align-items-center mb-3">
      <h5><span class="shadow-xs text-secondary">Actualmente la elección no tiene propuestas</span></h5>
  </h1>
<% end %>
<hr class="mb-3">


<h1 class="d-flex justify-content-between align-items-center mb-3">
    <h4><span class="shadow-lg badge badge-secondary">Agregar una Propuesta</span></h4>
</h1>
<hr class="mb-1">
<%= render 'proposals/form' %>

</div>