<div class="container col-6">
  <h1 class="d-flex justify-content-between align-items-center mb-3">
    <h3><span class="shadow-lg badge badge-success d-flex justify-content-center">Inicio de Sesión</span></h3>
  </h1>
</div>

<div class="container col-6 py-4" id="identification-views">
  <ul class="shadow-lg list-group mb-3">
    <li class="list-group-item justify-content-center lh-condensed">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="form-group mt-3">
          <%= f.label :Correo_electrónico %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control list-inline-item text-success' %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :Contraseña %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control list-inline-item text-success' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :Recordar_credenciales %>
          </div>
        <% end %>

        <div class="d-flex justify-content-center align-items-center">
          <%= f.submit "Ingresar", class: 'w-50 btn btn-secondary' %>
        </div>
      <% end %>

    </li>
  </ul>
  <span><%= render "devise/shared/links" %></span>
</div>
